---
title: zacharymoring_dot_com
---

<h1>Zachary Moring</h1>
<p>I am a software engineer.</p>
<p>I specialize in software with social value. Currently saving the whales at NOAA Fisheries.</p>
<div class="flex-row">
    <a target="_blank" ref="noreferrer" href="https://git.sr.ht/~zpm/">sourcehut ↗</a>
    <a target="_blank"
       ref="noreferrer"
       href="https://github.com/iamzacharymoring">github ↗</a>
</div>
