---
title: zacharymoring_dot_com | home
---

<h1>Zachary Moring</h1>
<p>I am a software engineer.</p>
<p>I specialize in software with social value. Currently saving the whales at NOAA Fisheries.</p>
<div class="flex-row">
    <a target="_blank" ref="noreferrer" href="https://git.sr.ht/~zpm/">sourcehut ↗</a>
    <a target="_blank"
       ref="noreferrer"
       href="https://github.com/iamzacharymoring">github ↗</a>
</div>
<hr>
<section>
    <h2>Recent articles</h2>
    <div class="flex-column">
        {% for article in collections.articles | take(3) %}
            <article class="grid packed">
                <div data-cols="1">{{ article.date|yyyymmdd }}</div>
                <div data-cols@s="1" data-cols="2 4">
                    <a href="{{ article.url }}">{{ article.data.title }}</a>
                </div>
            </article>
        {% endfor %}
        <a href="/articles" class="align-self:start">All articles »</a>
    </div>
</section>
